html,
body,
#app {
  margin: 0;
  height: 100%;
  background-color: #fff;     
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-family: 'PingFang SC', 'Microsoft YaHei', Lato, sans-serif;   
}
*{ 
  margin:0;
  padding: 0;
  list-style: none;
}
body{
    cursor: url('./images/cursor.png'),auto;
}
[class*='language-'] {
  border-radius: 10px;
}

.header-anchor {
  opacity: 0;
}

pre {
  border-radius: 5px;
  background: #f8f8f8;
  color: #525252;
  padding: 15px;
}
