 { 
  "extends": ["prettier","plugin:vue/recommended"],
  "plugins": ["prettier"],
  "parserOptions": { 
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "warn"
  },
  "root": true
 }