{
    "extends": ["prettier", "eslint:recommended", "plugin:vue/essential"],
    "plugins": ["prettier"], 
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "globals": {
        "module": true,
        "process":true
    },
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "no-console": "off",
        "prettier/prettier": "warn"
    },
    "root": true
}
